@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(./Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url(./Poppins-Medium.ttf) format("truetype");
}
